#app {
  display: flex;
  flex-wrap: nowrap;
}

.grid-container {
  flex: 3; /* Takes 3 parts of the space */
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(100px, 1fr)
  ); /* Adjust based on your preference */
  gap: 10px;
  padding: 10px;
  overflow-y: auto; /* In case of overflow */
}

.flora-details {
  flex: 1; /* Takes 1 part of the space */
  padding: 10px;
  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;
}

.grid-item {
  position: relative;
  cursor: pointer;
}

.grid-item > img {
  max-width: 100%;
  max-height: 150px; /* Adjust based on your preference */
  object-fit: contain; /* This will ensure the entire image fits without cropping */
  display: block;
}
.grid-item:hover .name {
  display: block;
}

.name {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 5px;
}
