body {
  font-family: "Sniglet", monospace; /* Use the correct font family name as specified by Google Fonts */
}

#flora {
  display: flex;
  max-width: 100%;
}

.grid-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  padding: 10px;
  height: min-content;
  grid-template-columns: repeat(
    10,
    1fr
  ); /* Creates 10 columns, each 100px wide */
}

.flora-details {
  flex: 1;
  padding: 10px;
}

.grid-item {
  position: relative;
  cursor: pointer;
  height: max-content;
}

.grid-item > img {
  max-width: 100%;
}

.name {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.grid-item:hover .name {
  display: block;
}

ul.effects-list {
  list-style-type: none; /* Hide default markers */
  padding-left: 0px;
}
ul.foods-list {
  list-style-type: none; /* Hide default markers */
  padding-left: 0px;
}
span.icon {
  font-family: monospace;
  font-size: 16px;
}

li {
  margin-bottom: 5px; /* Space between items */
}

li span {
  font-weight: bold; /* Example styling for the icon */
  margin-right: 5px; /* Space between the icon and text */
}

.effect-details div {
  margin-bottom: 20px;
}

.effect-details img {
  margin-top: 5px;
}

ul {
  list-style-type: none;
}

#effects {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px; /* Adjust the space between search results and the grid */
}

#effectSearchContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#effectList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

#effectDetails {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
}

.effect-details img {
  width: 100%; /* Ensure images fit their containers */
  height: auto;
  object-fit: contain;
}

.effect-details .grid-item {
  display: inline-block;
  position: relative;
  margin: 10px;
  text-align: center;
}

.effect-details .grid-item img {
  width: 100px; /* Adjust as needed */
  height: auto;
}

.effect-details .name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
}

ul {
  padding: 0;
  list-style-type: none;
}

ul li {
  text-align: left;
}

.effects-list {
  margin: 10px 0 0 0; /* Adjust top margin as needed, remove bottom margin */
  padding-left: 0; /* Ensure the list is left-aligned */
}

.effects-list li {
  display: flex;
  align-items: center; /* Align icon and text vertically */
  margin-bottom: 5px; /* Space between list items */
}

.icon {
  margin-right: 5px; /* Space between the icon and the effect name */
}
